{% extends 'core.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
{% for field in form %}
    {% for error in field.errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
    <div class="error">{{ error }}</div>
{% endfor %}
<div class="container mt-5">
    <h1>Contact</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark btn-block">Send</button>
    </form>
</div>
{% endblock %}
